*{
    margin: 0;
}
h1{
    color: blue;
    border:   solid aqua 5px  ;
    background-color: aqua;
    width: 20%;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    font-size: 35px;
}
.big{
    font-size: 65px;
    color: cyan;
}
.logo img {
    width: 200px;
    padding: 3%;
    display: flex;
    display: inline;
list-style-type: none;
}
.casi{
    font-size: 30px;
    color: aqua;
}
.seco{
    width: 100%; 
}
